.cards {
  display: grid;
  gap: clamp(var(--space-sm), 2vw, var(--space-lg));
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: white;
  padding: clamp(var(--space-md), 3vw, var(--space-lg));
  border-radius: var(--radius);
}